<section data-ng-controller="StudentProfileController">
    <div class="html ui top attached segment">
        <form class="ui form">
            <div class="row-fluid  margin-top-35">
                <div class="span4">
                    <img data-ng-src="{{Model.Student.ImageUrl}}" />
                </div>
                <div class="span8">
                    <div class="row-fluid">
                        <div class="span4">
                            <label>Student Id</label>
                        </div>
                        <div class="span6">
                            <span data-ng-bind="Model.Student.Id"></span>
                        </div>
                        <div class="span2">
                            <div class="ui yellow button" data-ng-click="Model.Back()">Back</div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span4">
                            <label>Name</label>
                        </div>
                        <div class="span6">
                            <span data-ng-bind="Model.Student.Name"></span>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span4">
                            <label>Gender</label>
                        </div>
                        <div class="span6">
                            <span data-ng-bind="Model.Student.Gender"></span>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span4">
                            <label>Contact Number</label>
                        </div>
                        <div class="span6">
                            <span data-ng-bind="Model.Student.ContactNumber"></span>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span4">
                            <label>Seat Quota</label>
                        </div>
                        <div class="span6">
                            <span data-ng-bind="Model.Student.Quota"></span>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span4">
                            <label>Branch</label>
                        </div>
                        <div class="span6">
                            <span data-ng-bind="Model.Student.BranchName"></span>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span4">
                            <label>Address</label>
                        </div>
                        <div class="span6">
                            <span data-ng-bind="Model.Student.Address"></span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="ui top attached label" style="font-size: large; font-weight: bold">Student Details</div>
    </div>

    <div class="html ui top attached segment student_card">
        <form class="ui form margin-top-35 ">
            <div class="four fields">
                <div class="field">
                    <label>No. Of Admissions</label>
                    <span data-ng-bind="Model.AdmissionDetails.length"></span>
                </div>
                <div class="field">
                    <label>Total Fee</label>
                    <span data-ng-bind="Model.TotalFee | currency :'&#x20B9;'"></span>
                </div>
                <div class="field">
                    <label>Total Paid Fee</label>
                    <span data-ng-bind="Model.TotalPaidFee | currency :'&#x20B9;'"></span>
                </div>
                <div class="field">
                    <label>Pending Fee</label>
                    <span data-ng-bind="Model.TotalDueFee | currency :'&#x20B9;'"></span>
                </div>
            </div>
        </form>
        <div class="ui top attached label" style="font-size: large; font-weight: bold">Student Admission Summary</div>
    </div>
    <div class="html ui top attached segment">
        <form class="ui form margin-top-35">
            <div data-ng-show="Model.AdmissionDetails.length == 0">
                <div class="ui info huge message">
                    <div class="header">
                        There are no admission details for this student. Click New Admission link above to add new admission.
                    </div>
                </div>

            </div>
            <div class="ui special cards margin-top-35" data-ng-show="Model.AdmissionDetails.length > 0">
                <div class="card student_card" data-ng-repeat="admission in Model.AdmissionDetails" style="width: 900px">
                    <div class="content ">
                        <a class="header" data-ng-bind="Model.Years[admission.Year-1]"></a>
                        <div class="row-fluid">
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span7">
                                        <label>Course Fee</label>
                                    </div>
                                    <div class="span5">
                                        <span data-ng-bind="admission.CourseFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span7">
                                        <label>IdentityCard Fee</label>
                                    </div>
                                    <div class="span5">
                                        <span data-ng-bind="admission.IdentityCardFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span7">
                                        <label>Reading Room Fee</label>
                                    </div>
                                    <div class="span5">
                                        <span data-ng-bind="admission.ReadingRoomFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span7">
                                        <label>Magazine Fee</label>
                                    </div>
                                    <div class="span5">
                                        <span data-ng-bind="admission.MagazineFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span7">
                                        <label>AnnualDay Fee</label>
                                    </div>
                                    <div class="span5">
                                        <span data-ng-bind="admission.AnnualDayFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>Student Welfare Fund Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.StudentWelfareFundFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>Teacher Benefit Fund Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.TeacherBenefitFundFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>Library Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.LibraryFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>Lab Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.LabFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>College Sports Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.CollegeSportsFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>Application Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.ApplicationFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>Home Exam Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.HomeExamFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>Medical Exam Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.MedicalExamFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>Union Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.UnionFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>Student Aid Fund Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.StudentAidFundFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>Total Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.TotalFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="row-fluid">
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>Science Development Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.ScienceDevelopmentFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>University Registration Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.UniversityRegistrationFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>Eligibility Application Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.EligibilityApplicationFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>Eligibility Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.EligibilityFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>University Sports Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.UniversitySportsFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>University Welfare Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.UniversityWelfareFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>Carrier Guidence Fund Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.CarrierGuidenceFundFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>Corpus Fund Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.CorpusFundFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>Arrear Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.ArrearFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>Nss Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.NssFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>College Development Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.CollegeDevelopmentFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>University Silver Jubilee Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.UniversitysilverJubileeFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>Miscellaneous Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.MiscellaneousFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>Mis Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.MisFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>Paid Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.PaidFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>Due Fee</label>
                                    </div>
                                    <div class="span6">
                                        <span data-ng-bind="admission.DueFee | currency :'&#x20B9;'"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span3">
                            <div class="row-fluid">
                                <div class="span6">
                                    <label>Due Date</label>
                                </div>
                                <div class="span6">
                                    <span data-ng-bind="admission.DueDate | date:'dd/MMM/yyyy'"></span>
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="row-fluid">
                                <div class="span6">
                                    <label>Status</label>
                                </div>
                                <div class="span6">
                                    <span data-ng-class="{true:'label label-success',false:'label label-danger red-background'}[admission.Status == 'Paid']" data-ng-bind="admission.Status"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="">
                            <a class="pointer" data-ng-click="Model.UpdateFeeDetails(admission)"><i class="edit icon"></i>Edit Fee Details</a>
                            <a class="pointer" href="/api/degreeyear?id={{Model.Student.Id}}&year={{admission.Year}}"><i class="download icon"></i>Download Receipt</a>
                        </span>

                    </div>
                </div>
            </div>
        </form>
        <div class="ui top attached label" style="font-size: large; font-weight: bold">
            <span>Student Admission Details</span>
            <a data-ng-click="Model.NewAdmission()" class="float-right pointer">New Admission</a>
        </div>
    </div>
</section>

<script>
    function triggerdimmer() {
        $(document).ready(function () {
            $('.special.cards .content').dimmer({
                on: 'hover'
            });
        });
    };
</script>
