<section>
    <div class="modal-content">
        <div class="popup_header">
            <button type="button" class="close" data-dismiss="modal" data-ng-click="close()" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Add Fee Details</h4>
        </div>
        <div class="modal-body" style="color: black !important" data-ng-show="!Model.HasPaidFee">
            <div class="html ui top attached segment">
                <form class="ui form margin-top-35" name="addfeeform">
                    <div class="two fields">
                        <div class="field">
                            <label>Year of Admission</label>
                            <span data-ng-bind="Model.Student.Year"></span>
                        </div>
                        <div class="field row-fluid">
                            <label>Tution Fee<span class="required">*</span></label>
                            <input type="text" class="span12" data-ng-model="Model.Student.CourseFee" placeholder="Enter Course Fee" data-ng-blur="Model.CalculateTotalFee()"
                                required name="coursefee" data-ng-pattern="Validation.FeeRegEx" />
                            <div class="red bold" data-ng-show="addfeeform.coursefee.$error.required && addfeeform.coursefee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeMandatoryMessage"></span></div>
                            <div class="red bold" data-ng-show="addfeeform.coursefee.$error.pattern && addfeeform.coursefee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeRegExMessage"></span></div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field row-fluid">
                            <label>Admission Form Fee<span class="required">*</span></label>
                            <input type="text" class="span12" data-ng-model="Model.Student.AdmissionFormFee" placeholder="Enter Admission Form Fee" data-ng-blur="Model.CalculateTotalFee()"
                                required name="developmentfee" data-ng-pattern="Validation.FeeRegEx" />
                            <div class="red bold" data-ng-show="addfeeform.developmentfee.$error.required && addfeeform.developmentfee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeMandatoryMessage"></span></div>
                            <div class="red bold" data-ng-show="addfeeform.developmentfee.$error.pattern && addfeeform.developmentfee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeRegExMessage"></span></div>
                        </div>
                        <div class="field row-fluid">
                            <label>Admission Fee<span class="required">*</span></label>
                            <input type="text" class="span12" data-ng-model="Model.Student.AdmissionFee" placeholder="Enter Admission Fee" data-ng-blur="Model.CalculateTotalFee()"
                                required name="admissionfee" data-ng-pattern="Validation.FeeRegEx" />
                            <div class="red bold" data-ng-show="addfeeform.admissionfee.$error.required && addfeeform.admissionfee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeMandatoryMessage"></span></div>
                            <div class="red bold" data-ng-show="addfeeform.admissionfee.$error.pattern && addfeeform.admissionfee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeRegExMessage"></span></div>
                        </div>
                    </div>

                    <div class="two fields">
                        <div class="field row-fluid">
                            <label>Identity Card Fee<span class="required">*</span></label>
                            <input type="text" class="span12" data-ng-model="Model.Student.IdentityCardFee" placeholder="Enter Identity Card Fee" data-ng-blur="Model.CalculateTotalFee()"
                                required name="identitycardfee" data-ng-pattern="Validation.FeeRegEx" />
                            <div class="red bold" data-ng-show="addfeeform.identitycardfee.$error.required && addfeeform.identitycardfee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeMandatoryMessage"></span></div>
                            <div class="red bold" data-ng-show="addfeeform.identitycardfee.$error.pattern && addfeeform.identitycardfee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeRegExMessage"></span></div>
                        </div>
                        <div class="field row-fluid">
                            <label>Student Association Fee<span class="required">*</span></label>
                            <input type="text" class="span12" data-ng-model="Model.Student.StudentAssociationFee" placeholder="Enter Student Association Fee" data-ng-blur="Model.CalculateTotalFee()"
                                required name="studentassociationfee" data-ng-pattern="Validation.FeeRegEx" />
                            <div class="red bold" data-ng-show="addfeeform.studentassociationfee.$error.required && addfeeform.studentassociationfee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeMandatoryMessage"></span></div>
                            <div class="red bold" data-ng-show="addfeeform.studentassociationfee.$error.pattern && addfeeform.studentassociationfee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeRegExMessage"></span></div>
                        </div>
                    </div>

                    <div class="two fields">
                        <div class="field row-fluid">
                            <label>Reading Room Fee<span class="required">*</span></label>
                            <input type="text" class="span12" data-ng-model="Model.Student.ReadingRoomFee" placeholder="Enter Reading Room Fee" data-ng-blur="Model.CalculateTotalFee()"
                                required name="readingroomfee" data-ng-pattern="Validation.FeeRegEx" />
                            <div class="red bold" data-ng-show="addfeeform.readingroomfee.$error.required && addfeeform.readingroomfee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeMandatoryMessage"></span></div>
                            <div class="red bold" data-ng-show="addfeeform.readingroomfee.$error.pattern && addfeeform.readingroomfee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeRegExMessage"></span></div>
                        </div>
                        <div class="field row-fluid">
                            <label>Magazine Fee<span class="required">*</span></label>
                            <input type="text" class="span12" data-ng-model="Model.Student.MagazineFee" placeholder="Enter Magazine Fee" data-ng-blur="Model.CalculateTotalFee()"
                                required name="magazinefee" data-ng-pattern="Validation.FeeRegEx" />
                            <div class="red bold" data-ng-show="addfeeform.magazinefee.$error.required && addfeeform.magazinefee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeMandatoryMessage"></span></div>
                            <div class="red bold" data-ng-show="addfeeform.magazinefee.$error.pattern && addfeeform.magazinefee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeRegExMessage"></span></div>
                        </div>
                    </div>

                    <div class="two fields">
                        <div class="field row-fluid">
                            <label>Library Fee<span class="required">*</span></label>
                            <input type="text" class="span12" data-ng-model="Model.Student.LibraryFee" placeholder="Enter Library Fee" data-ng-blur="Model.CalculateTotalFee()"
                                required name="libraryfee" data-ng-pattern="Validation.FeeRegEx" />
                            <div class="red bold" data-ng-show="addfeeform.libraryfee.$error.required && addfeeform.libraryfee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeMandatoryMessage"></span></div>
                            <div class="red bold" data-ng-show="addfeeform.libraryfee.$error.pattern && addfeeform.libraryfee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeRegExMessage"></span></div>
                        </div>
                        <div class="field row-fluid">
                            <label>Lab Fee<span class="required">*</span></label>
                            <input type="text" class="span12" data-ng-model="Model.Student.LabFee" placeholder="Enter Lab Fee" data-ng-blur="Model.CalculateTotalFee()"
                                required name="labfee" data-ng-pattern="Validation.FeeRegEx" />
                            <div class="red bold" data-ng-show="addfeeform.labfee.$error.required && addfeeform.labfee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeMandatoryMessage"></span></div>
                            <div class="red bold" data-ng-show="addfeeform.labfee.$error.pattern && addfeeform.labfee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeRegExMessage"></span></div>
                        </div>
                    </div>

                    <div class="two fields">
                        <div class="field row-fluid">
                            <label>Student Welfare Fund Fee<span class="required">*</span></label>
                            <input type="text" class="span12" data-ng-model="Model.Student.StudentWelfareFundFee" placeholder="Enter Student Welfare Fund Fee" data-ng-blur="Model.CalculateTotalFee()"
                                required name="studentwelfarefundfee" data-ng-pattern="Validation.FeeRegEx" />
                            <div class="red bold" data-ng-show="addfeeform.studentwelfarefundfee.$error.required && addfeeform.studentwelfarefundfee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeMandatoryMessage"></span></div>
                            <div class="red bold" data-ng-show="addfeeform.studentwelfarefundfee.$error.pattern && addfeeform.studentwelfarefundfee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeRegExMessage"></span></div>
                        </div>
                        <div class="field row-fluid">
                            <label>Teacher Benefit Fund Fee<span class="required">*</span></label>
                            <input type="text" class="span12" data-ng-model="Model.Student.TeacherBenefitFundFee" placeholder="Enter Teacer Benefit Fund Fee" data-ng-blur="Model.CalculateTotalFee()"
                                required name="teacherbenefitfundfee" data-ng-pattern="Validation.FeeRegEx" />
                            <div class="red bold" data-ng-show="addfeeform.teacherbenefitfundfee.$error.required && addfeeform.teacherbenefitfundfee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeMandatoryMessage"></span></div>
                            <div class="red bold" data-ng-show="addfeeform.teacherbenefitfundfee.$error.pattern && addfeeform.teacherbenefitfundfee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeRegExMessage"></span></div>
                        </div>
                    </div>

                    <div class="two fields">
                        <div class="field row-fluid">
                            <label>Admission Fine Fee<span class="required">*</span></label>
                            <input type="text" class="span12" data-ng-model="Model.Student.AdmissionFineFee" placeholder="Enter Admission Fine Fee" data-ng-blur="Model.CalculateTotalFee()"
                                required name="admissionfinefee" data-ng-pattern="Validation.FeeRegEx" />
                            <div class="red bold" data-ng-show="addfeeform.admissionfinefee.$error.required && addfeeform.admissionfinefee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeMandatoryMessage"></span></div>
                            <div class="red bold" data-ng-show="addfeeform.admissionfinefee.$error.pattern && addfeeform.admissionfinefee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeRegExMessage"></span></div>
                        </div>
                        <div class="field row-fluid">
                            <label>Sports Fee<span class="required">*</span></label>
                            <input type="text" class="span12" data-ng-model="Model.Student.SportsFee" placeholder="Enter Sports Fee" data-ng-blur="Model.CalculateTotalFee()"
                                required name="sportsfee" data-ng-pattern="Validation.FeeRegEx" />
                            <div class="red bold" data-ng-show="addfeeform.sportsfee.$error.required && addfeeform.sportsfee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeMandatoryMessage"></span></div>
                            <div class="red bold" data-ng-show="addfeeform.sportsfee.$error.pattern && addfeeform.sportsfee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeRegExMessage"></span></div>
                        </div>
                    </div>

                    <div class="two fields">
                        <div class="field row-fluid">
                            <label>Fine Fee<span class="required">*</span></label>
                            <input type="text" class="span12" data-ng-model="Model.Student.FineFee" placeholder="Enter Fine" data-ng-blur="Model.CalculateTotalFee()"
                                required name="finefee" data-ng-pattern="Validation.FeeRegEx" />
                            <div class="red bold" data-ng-show="addfeeform.finefee.$error.required && addfeeform.finefee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeMandatoryMessage"></span></div>
                            <div class="red bold" data-ng-show="addfeeform.finefee.$error.pattern && addfeeform.finefee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeRegExMessage"></span></div>
                        </div>
                        <div class="field row-fluid">
                            <label>Other Fee<span class="required">*</span></label>
                            <input type="text" class="span12" data-ng-model="Model.Student.OtherFee" placeholder="Enter Other Fee" data-ng-blur="Model.CalculateTotalFee()"
                                required name="otherfee" data-ng-pattern="Validation.FeeRegEx" />
                            <div class="red bold" data-ng-show="addfeeform.otherfee.$error.required && addfeeform.otherfee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeMandatoryMessage"></span></div>
                            <div class="red bold" data-ng-show="addfeeform.otherfee.$error.pattern && addfeeform.otherfee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeRegExMessage"></span></div>
                        </div>
                    </div>

                    <div class="two fields">
                        <div class="field row-fluid">
                            <label>Total Fee</label>
                            <input type="text" class="span12" readonly data-ng-model="Model.Student.TotalFee" />
                        </div>
                        <div class="field row-fluid">
                            <label>Fee Paid<span class="required">*</span></label>
                            <input type="text" class="span12" data-ng-model="Model.Student.PaidFee" placeholder="Enter Fee Paid" data-ng-blur="Model.CalculateDueFee();Model.ValidatePaidFee()"
                                required name="paidfee" data-ng-pattern="Validation.FeeRegEx" />
                            <div class="red bold" data-ng-show="addfeeform.paidfee.$error.required && addfeeform.paidfee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeMandatoryMessage"></span></div>
                            <div class="red bold" data-ng-show="addfeeform.paidfee.$error.pattern && addfeeform.paidfee.$dirty"><i class="info circle icon"></i><span data-ng-bind="Validation.FeeRegExMessage"></span></div>
                            <div class="red bold" data-ng-show="!Model.IsPaidFeeLesserThanTotalFee"><i class="info circle icon"></i><span data-ng-bind="Validation.PaidFeeShoouldBeLessThanOrEqaulToTotalFeeMessage"></span></div>
                        </div>
                    </div>

                    <div class="two fields">
                        <div class="field row-fluid">
                            <label>Due Fee<span class="required">*</span></label>
                            <input type="text" class="span12" data-ng-model="Model.Student.DueFee" readonly />
                        </div>
                        <div class="field row-fluid">
                            <label>Due Date</label>
                            <input type="date" class="span12" data-ng-model="Model.Student.DueDate" />
                        </div>
                    </div>
                </form>
                <div class="ui top attached label" style="font-size: large; font-weight: bold">Student Details</div>
            </div>
        </div>
        <div class="popup_actions">
            <div class="ui yellow button" data-ng-click="Model.AddFee()" data-ng-if="addfeeform.$valid && Model.IsPaidFeeLesserThanTotalFee">Submit</div>
            <div class="ui  button" data-ng-click="close()">Close</div>
        </div>
    </div>
    <div class="ui segment margin-top-37" style="position: inherit !important" data-ng-show="Model.ShowLoader">
        <div class="ui active dimmer">
            <div class="ui large text loader">Loading</div>
        </div>
    </div>
</section>
