<section>
    <div class="ui special cards margin-top-35">
        <div class="card student_card" data-ng-repeat="faculty in Faculties">
            <div class="content ">
                <a class="header" data-ng-bind="faculty.Name"></a>
                <div class="row-fluid">
                    <div class="span5">
                        <label>Faculty Id</label>
                    </div>
                    <div class="span5">
                        <span data-ng-bind="faculty.Id"></span>
                    </div>
                </div>                
                <div class="row-fluid">
                    <div class="span5">
                        <label>Contact Number</label>
                    </div>
                    <div class="span5">
                        <span data-ng-bind="faculty.ContactNumber"></span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span5">
                        <label>Qualification</label>
                    </div>
                    <div class="span5">
                        <span data-ng-bind="faculty.Qualification"></span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span5">
                        <label>Subjects</label>
                    </div>
                    <div class="span7">
                        <span data-ng-bind="faculty.Subjects"></span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span5">
                        <label>Email Id</label>
                    </div>
                    <div class="span7">
                        <span data-ng-bind="faculty.EmailId"></span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span5">
                        <label>Handles</label>
                    </div>
                    <div class="span7">
                        <span data-ng-bind="faculty.HandlesClassess"></span>
                    </div>
                </div>
            </div>
            <div class="extra content">
                <span class="">
                    <img data-ng-src="{{faculty.ImageUrl}}" style="height:50px;width:50px" />
                    <a class="pointer"><i class="edit icon"></i>Edit</a>
                    <a class="pointer"><i class="eye icon"></i>Profile</a>
                </span>

            </div>
        </div>
    </div>
</section>